<% breadcrumb :diffs %>
<h2>Diffs</h2>

<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th>Old Image</th>
      <th>New Image</th>
      <th>Differences</th>
    </tr>
  </thead>

  <tbody>
    <% @diffs.last(300).each do |diff| %>
      <tr>
        <td><%= link_to diff do %>
            <%= image_tag diff.old_image.image.url(:small) %>
          <% end %>
        </td>
        <td><%= link_to diff do %>
            <%= image_tag diff.new_image.image.url(:small) %>
          <% end %>
        </td>
        <td><%= link_to diff do %>
            <%= image_tag diff.differences.url(:small) %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>