<% breadcrumb :test_images %>
<div class="container">
  <h2>Recent Test Images</h2>

  <table class="table table-responsive table-hover table-bordered w-100 d-block d-md-table">
    <tr>
      <th>ID</th>
      <th>Image</th>
      <th>Test Key</th>
      <th>Build Title</th>
      <th>Approved?</th>
      <th>MD5</th>
      <th>Branch</th>
      <th>Build ID</th>
      <th>Test ID</th>
    </tr>

    <% @test_images.sort_by {|test_image| test_image.created_at}.reverse_each do |image| %>
      <tr>
        <td><%= link_to image.id, test_image_path(image.id) %></td>
        <td><%= image_tag image.image.url(:thumbnail) %></td>
        <td><%= link_to image.test_key, test_image_path(image.id) %></td>
        <td><%= link_to image.build.title, build_path(image.build.id) %></td>
        <td><%= image.approved ? 'Yes' : 'No' %></td>
        <td><%= link_to image.md5, test_image_path(image.id) %></td>
        <% if image.branch.blank? %>
          <td>-</td>
        <% else %>
          <td><%= link_to image.branch, test_image_path(image) %></td>
        <% end %>
        <td><%= link_to image.build.id, build_path(image.build.id) %></td>
        <td><%= link_to image.test_id, test_path(image.test_id) %></td>
      </tr>
    <% end %>
  </table>
</div>