<%= form_for(@jira) do |f| %>
  <%= render 'layouts/error_messages', object: f.object %>

  <div class="form-group">
    <label>Project</label><br>
    <%= f.text_field :project, readonly: true, style: 'width:500px' %>
  </div>

  <div class="form-group">
    <label>Jira Title</label>
    <%= f.text_field :title, class: 'form-control', placeholder: 'Add title', style: 'width:500px' %>
  </div>

  <div class="form-group">
    <label>Component</label><br>
    <%= f.text_field :component, readonly: true, style: 'width:500px' %>
  </div>

  <div class="form-group">
    <label>Issue Type</label><br>
    <%= f.select :issue_type, ['Bug', 'Task', 'Improvement'], style: 'width:500px' %>
  </div>

  <div class="form-group">
    <label>Priority</label><br>
    <%= f.select :priority, ['Critical', 'Major', 'Blocker', 'Trivial'], style: 'width:500px' %>
  </div>

  <div class="form-group">
    <label>Description</label>
    <%= f.text_area :description, class: 'form-control', placeholder: 'Add description...', style: 'width:500px' %>
  </div>

  <div class="form-group">
    <label>Images attached</label>
  </div>

  <%= f.hidden_field :jira_base_url %>
  <%= f.hidden_field :diff_id %>

  <div class="actions">
    <%= f.submit 'Create Jira', :class => 'btn btn-success' %>
  </div>
<% end %>
