<!-- Render a toggleable panel showing diff results -->
<!-- Pass in locals: {title: "my panel title", diffs: @mySetOfDiffs, show_approver: boolean panel_class: string} -->
<div class="panel <%= panel_class %>">
  <div class="panel-heading accordion-toggle" role="button" data-parent="#accordion" data-toggle="collapse" href="#<%= panel_id %>">
    <%= title %>
  </div>
  <div class="panel-collapse collapse in" id="<%= panel_id %>">
    <div class="panel-body">
      <table class="table table-responsive w-100 d-block d-md-table">
        <colgroup>
          <col class="col-md-2">
          <col class="col-md-2">
          <col class="col-md-2">
          <col class="col-md-4 text-truncate">
          <col class="col-md-2 text-truncate">
        </colgroup>
        <thead>
        <tr>
          <th>Diff</th>
          <th>Old</th>
          <th>New</th>
          <th>Test</th>
          <th>Info</th>
        </tr>
        </thead>
        <tbody>
        <% diffs.includes(:old_image, :new_image).find_each(batch_size: 200) do |diff| %>
          <tr>
            <% if diff.old_image && diff.new_image %>
              <td><%= link_to image_tag(diff.differences.url(:thumbnail)), diff_path(diff) %></td>
              <td><%= link_to image_tag(diff.old_image.image.url(:thumbnail)), diff_path(diff) %></td>
              <td><%= link_to image_tag(diff.new_image.image.url(:thumbnail)), diff_path(diff) %></td>
              <% if diff.old_image.test && diff.new_image.test %>
                <td><%= link_to breaking_word_wrap(diff.new_image.test.ancestry_key), test_path(diff.new_image.test) %> </td>
                <td>
                  <% if show_approver %>
                    <strong>Approved By: </strong><%= link_to diff.approved_by_username, user_path(User.find_by_username(diff.approved_by_username)) %><br>
                  <% end %>
                  <% if diff.old_image.test.jira? %>
                    <strong>Jira: </strong><%= link_to diff.old_image.test.jira, diff.old_image.test.jira %><br>
                  <% end %>

                  <% if diff.old_image.test.pull_request_link? %>
                    <strong>Pull Request: </strong><%= link_to diff.old_image.test.pull_request_link, diff.old_image.test.pull_request_link %><br>
                  <% end %>
                  <% if diff.old_image.test.comment? %>
                    <strong>Comment: </strong> <%= diff.old_image.test.comment %>
                  <% end %>
                </td>
              <% end %>
              </tr>
            <% end %>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
